@*This line defines the URL pattern for this page. It expects an "id" parameter in the URL, which will be used to look up the restaurant to display.*@
@page "{id}"
@*This line imports the namespace for the RestaurantService class, which is used to retrieve restaurants.*@
@using ContosoCrafts.WebSite.Services
@inject RestaurantService _RestaurantService
@*This line sets the page's model to the ReadModel class, which contains the data to display on the page.*@
@model ContosoCrafts.WebSite.Pages.Restaurant.ReadModel



@{
    ViewData["Title"] = "Read";
}


<head>

    <link rel="stylesheet" href="/css/Restaurant.css" />

</head>

<p style="line-height:5.5em;"> </p>

<!--CRUDi: ReadModel page to show: contains data of the selected restaurant-->

<p style="line-height:5.5em;"> </p>

<!--Show images and other content-->
<div class="content">
    <h5 class="title" id="restaurantTitle">@Model.Restaurant.Title</h5>
    <p style="line-height:5.5em;"> </p>
    <img class="card-img" src='@Model.Restaurant.Image' alt='Image for @Model.Restaurant.Title'>
    <p style="line-height:5.5em;"> </p>
    <p class="card-text">@Model.Restaurant.Description</p>

</div>

<br />
<br />
@*This block displays buttons to update or delete the restaurant, which link to the Update and Delete pages respectively. T
    he asp-route-id attribute sets the id parameter in the URL to the current restaurant's id.*@

@if (Model.PasswordEntered == true)
{
    <div class="row">
        <a asp-page="Update" asp-route-id="@Model.Restaurant.Id" class="btn btn-primary update-button">Update</a>
        <a asp-page="Delete" asp-route-id="@Model.Restaurant.Id" class="btn btn-danger delete-button">Delete</a>
    </div>
}
else
{
    <form method="post">
        <div class="form-group">
            @if (!ModelState.IsValid)
            {
                <!--Error message when user input incorrect password-->
                <input type="password" class="form-control error-input" id="password" name="password" placeholder="Sorry Invalid Password...Try again!">
            }
            else{
               <!--user input password blank -->
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password to make changes to restaurant info...">
            }
          
          
        </div>
  
        <button type="submit" class="btn btn-primary unlock-button">Unlock<i class="fas fa-key"></i></button>
       
      
    </form>
}

