
@using FoodieSeattle.WebSite.Services
@inject RestaurantService callRestaurantService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodieSeattle</title>
    <link rel="shortcut icon" type="logo icon" href="~/img/icons/Color_icon_background.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="C:\Users\varun\OneDrive\Desktop\SU\SoftwareEng\FoodieSeattle\src\wwwroot\css\style.css">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <base href="/" />
</head>

<body>

    <!--<!--<!--<!--Creat a new header and buttons--><!----><!---->

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar border-bottom box-shadow mb-3">
            <div class="container">
                <a href="/index">
                    <img class="logo" src="~/img/logo/Color_logo_no_background.png" width="316" height="62" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="neighborhoodDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Neighborhoods <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="neighborhoodDropdown">
                                @foreach (var neighborhood in callRestaurantService.GetRestaurants().Where(r => r.Neighborhood != null).Select(r => r.Neighborhood).Distinct().OrderBy(c => c))
                                {
                                    <a class="dropdown-item" href="/Neighborhood/@neighborhood">@neighborhood</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="cuisineDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cuisines <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="cuisineDropdown">
                                @foreach (var cuisine in callRestaurantService.GetRestaurants().Where(r => r.Type != null).Select(r => r.Type).Distinct().OrderBy(c => c))

                                {
                                    <a class="dropdown-item" href="/Cuisine/@cuisine">@cuisine</a>
                                }
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Restaurant/Index">Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark privacy-button" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="min-height: 100vh;">
            @RenderBody()
        </main>
    </div>

    <!--  footer -->

    <footer class="text-center text-lg-start text-black">
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-6 col-sm-6 col-md-3 mx-auto mt-3">

                        <img src="~/img/logo/Color_logo_no_background.png" alt"foodieSeattleLogoPic" width="250" height="49" class="logoPic" />


                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />



                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <!--    contact infomation        -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" style="color:#4c3b29;">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact US</h6>
                        <p><i class="fas fa-envelope mr-3"></i> FoodieSeattle@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +1 234 567 8890</p>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3" style="color:#4c3b29;">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                        <!--Instagram-->
                        <a href="#!" role="button" style="margin-right: 10px;">
                            <i class="fab fa-instagram fa-2x" style="color: #4c3b29;"></i>
                        </a>

                        <!--Facebook-->
                        <a href="#!" role="button" style="margin-right: 10px" ;>
                            <i class="fab fa-facebook-f fa-2x" style="color: #4c3b29;"></i>
                        </a>

                        <!--Twitter-->
                        <a href="#!" role="button" style="margin-right: 10px;">
                            <i class="fab fa-twitter fa-2x" style="color: #4c3b29;"></i>
                        </a>

                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
            <!-- Grid container -->


            <br />
            <br />

            <hr size="3" style="margin:auto;" width="70%" color="black">
            <div class="text-center p-3">

                <p class="text-black" href="https://mdbootstrap.com/">  © 2023 Copyright: FoodieSeattle | All rights reserved. </p>
            </div>
        </div>

        <!-- End of .container -->

    </footer>

    <!-- move top icon -->
    <a href="#" class="move-top">
        <i class="fa fa-chevron-up"></i>
    </a>
    <!-- //move top icon -->

    <script>const moveTopBtn = document.querySelector('.move-top');

        // listen for scroll events on the window
        window.addEventListener('scroll', function () {
            // check if the user has scrolled a certain distance down the page
            if (window.pageYOffset > 100) { // adjust the number to your preference
                // show the move-top button
                moveTopBtn.style.display = 'block';
            } else {
                // hide the move-top button
                moveTopBtn.style.display = 'none';
            }
        });</script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>